body {
    background-image: url(../img/fondo.jpg);
}

/* ESTILOS DEL TITULO */

.seccionTituloEquipo {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: center;
}

.seccionTituloEquipo h1 {
    font-size: 100px;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    text-align: center;
}

/* ESTILOS  PARA LA SECCION INTGRANTES*/

.seccionIntegrantes {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.integrante {
    /* border: 1px solid green; */
    width: 600px;
    height: 300px;
    display: flex;
    margin: 20px 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 10px;
}

.contenedorIntegrante {
    width: 250px;
    height: 100%;
}

.contenedorIntegrante img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.informacionIntegrante {
    /* border: 7px solid       brown; */
    width:350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(38,39,43);
    color: white;
}

.informacionIntegrante p {
    /* border: 1px solid green; */
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

#movimientoLogo {
    animation-name: animacionLogo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacionLogo {
    0% {
        transform: translate(-35px, 0);
    }
    100% {
        transform: translate(35px, 0);
    }
}

@media all and (max-width:768px) {

    .seccionTituloEquipo {
        display: flex;
        flex-direction: column;
    }


    .seccionTituloEquipo h1 {
        /* border: 1px solid red; */
        font-size: 80px;
    }
}

@media all and (max-width:320px) {

    .contenedorImagen > img {
        width: 180px;
    }

    .seccionTituloEquipo h1 {
        font-size: 35px;
    }

    .integrante {
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .contenedorIntegrante {
        /* border: 1px solid red; */
        height: 250px;
        overflow: hidden;
    }

    .informacionIntegrante {
        height: 150px;
        width: 100%;
    }

    .informacionIntegrante p {
        font-size: 20px;
    }

}