@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ESTILOS PARA EL HEADER */

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(254,189,27);
}

.navegacionheader ul {
    display: flex;
}

.navegacionheader li {
    list-style: none;
    margin-left: 20px;
}

.navegacionheader a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.5s;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.navegacionheader a:hover {
    background-color: bisque;
}

.sesionCarrito {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-around;
}

.sesionCarrito .iniciarSesion {
    /* border: 1px solid green; */
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    background-color: bisque;
    transition: 0.5s;
    font-family: 'Dosis', sans-serif;
    color: black;
    font-weight: 600;
}

.sesionCarrito input{
    display: none;
}


.fa-user {
    font-size: 20px;
    margin-left: 10px;
}

.sesionCarrito .iniciarSesion:hover{
    background-color: black;
    color: rgb(254,189,27);
}

.carrito{
    cursor: pointer;
}

.fa-cart-shopping {
    font-size: 25px;
    color: black;
    cursor: pointer;
}

/*modal del carrito*/
.modal{
    width: 65%;
    height:100vh;
    display: flex;
    justify-content: right;
    position: fixed;
    top: 60px;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
/*esto es para la pagina de nosotros xq esta con BOOTSTRAP*/
.modal_nosotros{
    left: 35% !important;
}
/*FIN DEL BOOSTRAP*/
#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
.contenedor{
    margin-top:20px;
    margin-right: 20px;
    width: 95%;
    height:700px;
    background: white;
    transition: all 500ms ease;
    position: relative;
    transform: translateX(100%);
}
#btn-modal:checked ~ .modal .contenedor{
    transform: translateX(0%);
}
.contenedor .titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEBD1B;
}
.contenedor .header-modal {
    padding: 10px;
    color:white;
    font-weight: bold;
    font-size: 35px;
}
.contenedor label{
    font-size: 35px;
    cursor: pointer;
    background-color:#FF6347;
    padding:9px 25px;
    color:white;
    font-weight: bold;
    border: 1px solid black;
}

.contenedor label:hover{
    background-color:red;
    border: 2px solid black;
}
.contenedor .contenido{
    padding: 20px 50px;
    height: 91%;
}

.contenedor .contenido .productos_exitentes{
    font-size:35px;
    margin-bottom: 5px;
}
.producto_nuevo a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.producto_nuevo a span{
    font-size: 20px;
    font-weight:bold;
}
.contenedor .contenido .producto_nuevo{
    width: 85px;
    height:30px;
    padding: 5px;
    background-color: #3EB673;
    align-items: center;
    text-align: center;
    border-radius:10px;
    transition: all 0.6 ease;
    margin-bottom:10px;
}

.contenedor .contenido .producto_nuevo:hover{
    background-color:green;
}

.contenido .cabecera, .contenido .info_productos{
    display: grid;
    grid-template-columns: 15% 40% 10% 13% 10% 12%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.contenido .cabecera p{
    font-size:20px;
    font-weight: bold;
}

.contenido .info_productos a{
    padding-left: 20px;
}
.contenido .info_productos .fa-solid{
    background-color: #FF6347;
    padding: 5px;
    font-size: 30;
    color:white;
    text-align: center;
    width: 34px;
    border-radius:5px;
}

.contenido .info_productos .fa-solid:hover{
    background-color: red;
}

.contenido .pago_total{
    margin: 20px 0 45px 65%;
    font-size:20px;
    font-weight: bold;
}

.contenido .pago_total span{
    margin-left: 10px;
}
.contenido .boton_comprar{
    text-decoration: none;
    font-size: 20px;
    color:white;
    background-color: #0078D7;
    padding: 8px 30px;
    border-radius: 10px;
    margin-left: 80%;
}

.contenido .boton_comprar:hover{
    background-color:blue;
}

/* ESTILOS VERSION TABLET */

@media all and (max-width:768px) {
    header {
        /* border: 1px solid red; */
        width: 100%;
        flex-direction: column;
        height: 150px;
        justify-content: space-around;
    }

    .navegacionheader {
        /* border: 1px solid green; */
        height: 95px;
    }

    .navegacionheader ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navegacionheader li {
        margin-top: 10px;
    }

    .navegacionheader a {
        font-size: 22px;
    }

    .contenedorBanner {
        display: none;
    }

}

/* ESTILOS PARA CELULAR */

@media all and (max-width:320px) {
    header {
        height: 280px;
    }

}