@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ESTILOS PARA EL HEADER */

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(254,189,27);
}

.navegacionheader ul {
    display: flex;
}

.navegacionheader li {
    list-style: none;
    margin-left: 20px;
}

.navegacionheader a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.5s;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.navegacionheader a:hover {
    background-color: bisque;
}

.sesionCarrito {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-around;
}

.sesionCarrito .iniciarSesion {
    /* border: 1px solid green; */
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    background-color: bisque;
    transition: 0.5s;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.sesionCarrito .iniciarSesion:hover {
    background-color: black;
    color: rgb(254,189,27);
}

.fa-user {
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.fa-cart-shopping {
    font-size: 25px;
    color: black;
}