* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ESTILOS DE LA SECCION BANNER */

.contenedorBanner {
    width: 100%;
}

.contenedorBanner img {
    width: 100%;
}

/* ESTILOS PARA ULTIMOS PRODUCTOS */


.ultimosProductos {
    /* border: 1px solid red; */
    width: 100%;
    padding: 30px 0;
}

.tituloPrincipal {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    /* border: 1px solid green; */
}

.seccionProductos {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.seccionEspecifica {
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

.informacionSE{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.informacionSE h2 {
    font-size: 30px;
}

.informacionSE > i {
    margin-left: 20px;
    font-size: 25px;
}

.cardProductos {
    /* border: 1px solid green; */
    height: 350px;
    box-shadow: 3px 3px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.cardProductos:hover {
    transform: translate(0px, -8px);
}

.contenedorImagen {
    /* border: 1px solid orange; */
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 4px solid rgba(95, 95, 99, 0.644);
}

.contenedorImagen img {
    width: 100%;
}

.nombreProducto {
    /* border: 1px solid blue; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,206,85);
    border-radius: 0 0 5px 5px;
    border: 4px solid rgba(95, 95, 99, 0.644);
    border-top: 0;
}

.nombreProducto p {
    font-size: 20px;
}